### EJERCICIOS

#### Escribe un programa que pida un número entero positivo al usuario y
calcule la suma de los dígitos de un número entero positivo. Por
ejemplo, la suma de 1000 sería 1, y la suma de 342 sería 9
○ Una pista: Al dividir el número por 10, el resto es el último dígito, y la
división los dígitos restantes (por ejemplo, 342%10 da 2, y 342/10 da 34)

In [1]:
numero_st=input("Dime un número entero positivo: ")

if numero_st.isdigit():
    numero=eval(numero_st)
    suma=0
    
while suma>0:
    suma=suma+numero%10
    numero=int(numero/10)
        
    print("La suma de las cifras es ",suma)

else:
    print("Esto no es un número")

Dime un número entero positivo: 5
Esto no es un número

In [2]:
lista_ciudades=["Madrid","Alcorcón","Móstoles","Fuenlabrada"]

print(lista_ciudades)
ciudad=input("Dime una ciudad wey")


if ciudad in lista_ciudades:
    print(lista_ciudades.index(ciudad))
else:
    print(ciudad, "No está en la lista, la incluyo")
lista_ciudades.append(ciudad)
print(lista_ciudades)

['Madrid', 'Alcorcón', 'Móstoles', 'Fuenlabrada']
Dime una ciudad weyAlcorcón
1
['Madrid', 'Alcorcón', 'Móstoles', 'Fuenlabrada', 'Alcorcón']

In [7]:
pos=eval(input("Dime una posición: "))

if pos<len(lista_ciudades) :
    print("La ciudad en la posición ",pos," es",lista_ciudades[pos-1])
    
else:
    print("No hay tantas ciudades")

Dime una posición: 2
La ciudad en la posición  2  es Alcorcón

In [14]:
lista_numeros=[1,2,3,4,5,6,7,8,9,10]
num_pares=0

for numero in lista_numeros:
    if numero%2==0:
        num_pares+=1
        print(numero,end=" ")
        
print(" Hay %i números pares" % (num_pares))

2 4 6 8 10  Hay 5 números pares

In [18]:
lista_numeros=[]
for i in range(20,25):
    print(lista_numeros)

[]
[]
[]
[]
[]

In [19]:
cp=[28938,25025,28930,25026]
ciudades=["Madrid","Orense","Barcelona","Santander"]

for c1,c2 in zip(cp,ciudades):
    print(c1,c2.upper())

28938 MADRID
25025 ORENSE
28930 BARCELONA
25026 SANTANDER

In [20]:
print(cp)
cp.sort()
print(cp)

[28938, 25025, 28930, 25026]
[25025, 25026, 28930, 28938]

#### Define una función con dos argumentos, una lista de strings y un
string. La función debe contar cuántas veces aparece el string en la
lista.
○ Comprueba si la función vale también para números

In [25]:
lista_colores=["azul","verde","rojo","amarillo","morado","azul","naranja","rojo"]
contador=0
for color in lista_colores:
    if color=="azul":
        contador=contador+1
        
print("Azul aparece %i veces" % (contador))

print("%s aparece  un %i%% de veces"% (color,contador/len(lista_colores)*100))

Azul aparece 2 veces
rojo aparece  un 25% de veces

In [26]:
tupla1=("uno","dos","tres")
tupla2=("cuatro","cinco","seis","siete")

print(tupla1[2])
print(len(tupla1))
print(tupla1*3)
tupla1+tupla2

tres
3
('uno', 'dos', 'tres', 'uno', 'dos', 'tres', 'uno', 'dos', 'tres')

('uno', 'dos', 'tres', 'cuatro', 'cinco', 'seis', 'siete')

In [30]:
lista_ciudades=[("28040", "Madrid"),("08080","Barcelona"),("28938","Mostoles"),("28030","Madrid")]
print(lista_ciudades)

for ciudad in lista_ciudades:
    if ciudad[1]=="Madrid":
        print(ciudad[0])

[('28040', 'Madrid'), ('08080', 'Barcelona'), ('28938', 'Mostoles'), ('28030', 'Madrid')]
28040
28030

In [31]:
lista_ciudades.sort()
print(lista_ciudades)

[('08080', 'Barcelona'), ('28030', 'Madrid'), ('28040', 'Madrid'), ('28938', 'Mostoles')]

In [35]:
diccionario={}
for i in range(1,11):
    diccionario[i]="a"*i
    diccionario[i+10]="b"*i
    
print(diccionario)

{1: 'a', 11: 'b', 2: 'aa', 12: 'bb', 3: 'aaa', 13: 'bbb', 4: 'aaaa', 14: 'bbbb', 5: 'aaaaa', 15: 'bbbbb', 6: 'aaaaaa', 16: 'bbbbbb', 7: 'aaaaaaa', 17: 'bbbbbbb', 8: 'aaaaaaaa', 18: 'bbbbbbbb', 9: 'aaaaaaaaa', 19: 'bbbbbbbbb', 10: 'aaaaaaaaaa', 20: 'bbbbbbbbbb'}

In [40]:
for clave in diccionario:
    print(clave)
sorted(diccionario) ##para ordenar los valores

claves_ordenadas=sorted(diccionario)

1
11
2
12
3
13
4
14
5
15
6
16
7
17
8
18
9
19
10
20

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]