In [1]:
diccionario_ciudades={}
diccionario_ciudades={"28040":"Madrid","40123":"Orense","08080":"Barcelona","09045":"Badajoz","28002":"Madrid","10368":"Jerez","28029":"Alcorcón","28027":"Madrid"}

for k in sorted(diccionario_ciudades):
    print(k,diccionario_ciudades[k])
print()

for w in sorted(diccionario_ciudades, key=diccionario_ciudades.get):
    print(w,diccionario_ciudades[w])
    
## PARA DAR LA VUELTA AL DICCIONARIO
for e in diccionario_ciudades:
    print(e)
    
lista_ciudades=[]
for e in diccionario_ciudades:
    lista_ciudades.append((diccionario_ciudades.get(e),e))
    
for ciudad in sorted(lista_ciudades):
    print(ciudad[1],ciudad[0])
    
print(sorted(lista_ciudades)) ##es hacer lo mismo que los dos pasos previos

08080 Barcelona
09045 Badajoz
10368 Jerez
28002 Madrid
28027 Madrid
28029 Alcorcón
28040 Madrid
40123 Orense

28029 Alcorcón
09045 Badajoz
08080 Barcelona
10368 Jerez
28040 Madrid
28002 Madrid
28027 Madrid
40123 Orense
28040
40123
08080
09045
28002
10368
28029
28027
28029 Alcorcón
09045 Badajoz
08080 Barcelona
10368 Jerez
28002 Madrid
28027 Madrid
28040 Madrid
40123 Orense
[('Alcorcón', '28029'), ('Badajoz', '09045'), ('Barcelona', '08080'), ('Jerez', '10368'), ('Madrid', '28002'), ('Madrid', '28027'), ('Madrid', '28040'), ('Orense', '40123')]

In [2]:
codigos_postales=diccionario_ciudades.keys()   #se queda con los códigos postales solo
print(codigos_postales)

ciudades=diccionario_ciudades.values()  #se queda con sólo las ciudades
print(ciudades)

nuevo_diccionario_ciudades=dict(zip(ciudades,codigos_postales))   #se han unido ambas listas, pero se ha reescrito el valor Madrid 
#al haber varios
print(nuevo_diccionario_ciudades)

dict_keys(['28040', '40123', '08080', '09045', '28002', '10368', '28029', '28027'])
dict_values(['Madrid', 'Orense', 'Barcelona', 'Badajoz', 'Madrid', 'Jerez', 'Alcorcón', 'Madrid'])
{'Madrid': '28027', 'Orense': '40123', 'Barcelona': '08080', 'Badajoz': '09045', 'Jerez': '10368', 'Alcorcón': '28029'}

In [3]:
cuadrados=[i**2 for i in range (1,11)]
print(cuadrados)

fichero=open("numeros.txt","w")
for n in cuadrados:
    fichero.write(str(n)+"\n")
    
fichero.close()
#mega importante cerrar: cuando escribimos en el fichero, no se escribe directamente porque es \n
#lenta. Para agilizarlo, se escribe en un buffer que no se vuelca hasta que no se cierra el fichero!!

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [4]:
fichero=open("numeros.txt","r")

print(fichero.read())

fichero.close()

1
4
9
16
25
36
49
64
81
100

In [5]:
fichero=open("numeros.txt","r")
linea=fichero.readline().strip()
    
while linea:
    print(linea,end=" ")
    linea=fichero.readline().strip()
    
print()

fichero.close()

1 4 9 16 25 36 49 64 81 100

In [6]:
## EXCEPCIONES: ERRORES

path=input("Dame la ruta del fichero: ")
try:
    fichero=open(path,"w")
    fichero.write("Intento de escritura en un fichero")
except IOError:
        print("Error al intentar escribir en el fichero")
        
else:
        print("Todo OK")

        fichero.close()

Dame la ruta del fichero: 45
Todo OK

In [7]:
## crear excepciones

path=input("Dame la ruta del fichero: ")
try:
    fichero=open(path,"w")
    fichero.write("Intento de escritura en un fichero")
except IOError:
        print("Error al intentar escribir en el fichero")
        raise "ERROR FATAL"
        
else:
        print("Todo OK")

        fichero.close()

Dame la ruta del fichero: 45
Todo OK

### FUNCIONES

In [8]:
def hola():
    print("hola")
    
def saluda(nombre):
    #funcion que imprime un saludo por pantalla
    #nombre es un string con el nombre de la persona a la que saludamos
    
    print("Hola, ",nombre)
    
hola()
saluda("Juan")
hola()
saluda("Jorge")

hola
Hola,  Juan
hola
Hola,  Jorge

In [9]:
def max(n1,n2):
    #max calcula el máximo de los dos números que se pasan como parámetro
    if n1>n2:
        return n1
    else:
        return n2
    
n1=eval(input("Dime un número "))
n2=eval(input("Dime otro número "))  
print("El número mayor es ",max(n1,n2))

n3=eval(input("Dime otro número "))
print("El número mayor es ",max(n1,n2),n3)  
#comparando a un tercero, se pone fuera del paréntesis el n3 porque en un inicio determinamos que eran 2 números

Dime un número 45
Dime otro número 653
El número mayor es  653
Dime otro número 46
El número mayor es  653 46

In [23]:
#para comparar 3 números:
def max3(n1,n2,n3):
    #max3 calcula el máximo de los tres números que se pasan como parámetro

    n1=eval(input("Dime un número "))
    n2=eval(input("Dime otro número "))  

    n3=eval(input("Dime otro número "))
    
print("El número mayor es ",max3(n1,n2,n3))

Dime un número 4
Dime otro número 5
Dime otro número 6
El número mayor es  None

In [24]:
def pot2(n):
    for i in range(n+1):
        print(2**i, end=" ")
    print()
    
pot2(10)

1 2 4 8 16 32 64 128 256 512 1024

In [25]:
## dentro de una función, podemos llamar a otras funciones

##funciones recursivas: se llaman a sí mismas para hacer lo que tengan que hacer: por ejemplo, factoriales
##llamada recursiva (cadena de llamadas), hasta un CASO BASE: se define 1 como caso base, es el límite. El 10 es n.

def factorial(n):
    if n<2:
        return 1
    return n*factorial(n-1)

print(factorial(10))

3628800

In [35]:
##argumentos de funciones: referencias

def cambia(li): 
    li.append(4)  ##incluye el 4
    print(li)   ##
    
def nocambia(li):
    li=[0,0,0]
    print(li)
    
lista=[1,2,3]
cambia(lista)
print(lista)

nocambia(lista)
print(lista)

[1, 2, 3, 4]
[1, 2, 3, 4]
[0, 0, 0]
[1, 2, 3, 4]

In [39]:
def intercambia(n1,n2):      #para intercambiar 2 variables
    print(n1,n2)
    n1,n2=n2,n1
    print(n1,n2)
    
n1=4
n2=7
    
intercambia(n1,n2)
print(n1,n2) ### no se cambia porque se ha hecho fuera de la función


n1,n2=n2,n1
print(n1,n2) #repetir el paso previo de la función para que salga

4 7
7 4
4 7
7 4

In [41]:
def intercambia(n1,n2):
    return n1,n2

n1=4
n2=7

n1,n2=intercambia(n1,n2)
print(n1,n2,7,"perro")

4 7 7 perro